@import "../../../../../app-service-diagnostics/src/styles/icons.scss";
.home-banner {
    font-size: 16px;
    line-height: 32px;
    padding: 2px 5px;
    background-color: rgba(215, 172, 237,1);
}

.home-banner a:hover {
    cursor: pointer;
}