<div class="home-banner" *ngIf="showBanner">
  <ng-container *ngIf="isPreview else oldApplensBanner">
    <i class="ib-purplerocket mr-3"></i>
    <span><a (click)="switchView($event)">Click here</a> to switch back to the old experience. Please email
      applensv2team with any issues you’ve found.</span>
  </ng-container>
</div>

<ng-template #oldApplensBanner>
  <i class="ib-purplerocket mr-3"></i>
  <span>AppLens VNext is now in public preview. <a (click)="switchView($event)">Click here</a> to try the new & improved
    experience</span>
</ng-template>