<fab-panel [isOpen]="true" [type]="panelType" [customWidth]="panelWidth" [hasCloseButton]="false" [isBlocking]="false"
  [styles]="panelStyles">
  <div>
      <div *ngFor="let icon of panelIcons;let i = index" (click)="clickPanelIcon(i,icon.click)" style="padding-left: 10px;margin: 10px 0px" [ngStyle]="{'border-left':i === selectedPanelIconIndex ? '5px solid navy': '', 'color': i === selectedPanelIconIndex ? 'navy': ''}">
        <i style="font-size: 24px;" class="fa fa-fw" [ngClass]="icon.class"></i>
        <div>{{icon.name}}</div>
      </div>
  </div>
</fab-panel>

<!-- Secondary Panel -->
<fab-panel [isOpen]="isSecondaryPanelExpand" [type]="panelType" [customWidth]="'200px'" [hasCloseButton]="true"
  [isBlocking]="false" [isLightDismiss]="true" [styles]="secondaryPanelStyle" (onDismissed)="closeSecondaryPanel()">
  <div>
    <ng-container [ngSwitch]="secondaryPanelResource">
      <ng-container *ngSwitchCase="PanelResource.Analysis">
        <ng-container *ngTemplateOutlet="analysisPanel"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="PanelResource.Detector">
        <ng-container *ngTemplateOutlet="detectorPanel"></ng-container>
      </ng-container>
    </ng-container>
  </div>
</fab-panel>

<ng-template #detectorPanel>
  <div>
    <search-box [(searchValue)]="detectorSearchValue"></search-box>
    <section-divider [label]="'Detectors'">
      <i class="fa fa-stethoscope fa-fw menu-icon menu-icon-detectors" aria-hidden="true"></i>
      <!-- <i class="fa fa-filter" style="float: right;"></i> -->
      <collapsible-menu-item *ngFor="let category of categories" [searchValue]="detectorSearchValue" [menuItem]="category">
      </collapsible-menu-item>
      <i *ngIf="!categories || categories.length === 0" class="fa fa-spinner fa-spin fa-3x fa-fw loading-menu"></i>
    </section-divider>
  </div>
</ng-template>

<ng-template #analysisPanel>
  <section-divider *ngIf="analysisTypes.length > 0" [label]="'Analysis'">
    <i class="fa fa-heartbeat fa-fw menu-icon menu-icon-analysis" aria-hidden="true"></i>
    <collapsible-menu-item *ngFor="let item of analysisTypes" [menuItem]="item"></collapsible-menu-item>
    <i *ngIf="!categories || categories.length === 0" class="fa fa-spinner fa-spin fa-3x fa-fw loading-menu"></i>
  </section-divider>
</ng-template>